[project]
	description = AOSP framework_base
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mohan_kr (mohankr)
[access "refs/for/refs/*"]
	read = group user/mohan_kr (mohankr)
	push = group user/mohan_kr (mohankr)
	label-Code-Review = -2..+2 group user/mohan_kr (mohankr)
	label-Verified = -1..+1 group user/mohan_kr (mohankr)
	rebase = group user/mohan_kr (mohankr)
	removeReviewer = group user/mohan_kr (mohankr)
	submit = group user/mohan_kr (mohankr)
[access "refs/heads/*"]
	read = group user/mohan_kr (mohankr)
	create = group user/mohan_kr (mohankr)
	push = +force group user/mohan_kr (mohankr)
	pushMerge = group user/mohan_kr (mohankr)
[access "refs/tags/*"]
	push = +force group user/mohan_kr (mohankr)
	pushTag = group user/mohan_kr (mohankr)
	pushSignedTag = group user/mohan_kr (mohankr)
